$white: #fff;
$black: #000;
$red: #DC3545;
$yellow: #F89B1C;
$little-yellow: #FBCD8D;

/*colors normal mode*/
$gray: #928E8E;
$green: #28A745;
$little-gray: #F2F2F2;
$task-gray: #D9D9D9;
$text-gray: #333333;

/*colors dark mode*/
$blue: #376184;
$dark-blue: #1C3041;
$task-blue: #182938;
$light-blue: #4982B4;
$little-green: #2FE6DE;

/*fonts*/
$inter-font: 'Inter', sans-serif;

/*form*/
$text-form-black: #15232B;
$form-gray: #BCC1C5;